@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&family=Montserrat:wght@400;700&display=swap');


.sakura-falling {
	overflow: hidden;
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)); */
	background: red;
	pointer-events: none;
	position: absolute;
}

.sakura {
	background: #674ea7;
}

/*******************************/

body {
	font-family: 'Montserrat', sans-serif;
	/* font-family: Arial, Helvetica, Sans-serif; */
}

body .overlay {
	position: fixed;
	background: url("../assets/img/bg-img5.jpg") no-repeat center center fixed;
	background-size: cover;
	opacity: 0.2;
	aspect-ratio: 1;
	top: 0;
	z-index: -9999;
	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
	filter: blur(1px);
}

@media (orientation: landscape) {
	body .overlay {
		width: calc(100%);
	}
}

@media (orientation: portrait) {
	body .overlay {
		height: calc(100%);
		background-position: 60% 0%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width:900px) {
	.top-right-decoration,
	.top-left-decoration {
		max-width: 30%;
	}
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	margin: 16px 0px;
	color: #674ea7;
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 16px 0;
	padding: 0;
	font-size: 40px;
	color: #e25c67;
	line-height: 1;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 32px;
	color: #674ea7;
	margin: 16px;
	text-align: center;
}

.title h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
	color: #674ea7;
	margin-top: 5px;
}

.title p {
	color: #564861;
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	/* min-height:100%; */
}

/** **/

* {
	/* margin: 0;
    padding: 0; */
	font-family: 'Josefin Slab', serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh;
    width: 100%; */
	flex-direction: column;
}

p {
	font-size: 20px;
	padding: 0px 10px;
}

.title {
	margin-bottom: 40px;
	margin-top: 20px;
}

#time {
	width: auto;
	height: auto;
	padding: 20px;
	background-color: #eee9;
	border-radius: 20px;
	font-size: 16px;
}

.venue {
	width: auto;
	height: auto;
	background-color: #674ea7;
	/*border-radius: 10px;*/
	text-align: center;
	color: #fff;
	padding: 8px 14px;
	margin-right: 4px;
	margin-left: 4px;
}

.venue:hover {
	background-color: #e25c67;
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.developers{
	font-size: 10px;
}

.actions a:hover {
	text-decoration: none;
}

.custom-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}

.block {
	width: 120px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.days {
	background: linear-gradient(90deg, #b33a46, #9b313c);
}

.hours {
	background: linear-gradient(90deg, #a7c3cd, #90a9b2);
}

.minutes {
	background-color: #874562;
}

.seconds {
	background-color: #145689;
}

.date {
	color: #874562;
	font-weight: 900;
}

.place {
	color: #874562;
	font-weight: 900;
}

.footer {
	color: #564861;
	text-align: center;
	/* font-size: 16px; */
	margin: 24px;
}

.phone {
	color: #874562
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
	color: #874562;
}

.happiness {
    color: #874562;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Montserrat';
}

.twitter {
	color: #874562;
}

.music {
	display: none;
}

.actions {
	display: inline-flex;
	font-size: 16px;
	letter-spacing: 0pt;
}

@keyframes heartbeat {
    0%, 100% {
        color: #ffb3b3
    }

    35% {
        color: #ff1a1a
	}
}

.developers .heart {
    color: #ffb3b3;
    animation-name: heartbeat;
    animation-duration: 1.42857s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.developers p {
    font-size: 16px;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

#comments{
	border: 2px solid #674ea7;
	border-radius: 5px;
}